<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<context-param>
		<param-name>name</param-name>
		<param-value>mimi</param-value>
	</context-param>


<!-- 에러페이지 처리 -->
	<error-page>
		<error-code>500</error-code>
		<location>/error/500_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404_error.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/error/exception_error.jsp</location>
	</error-page>







</web-app>



