<?xml version="1.0" encoding="UTF-8"?>
<web-app>


	<context-param>
		<param-name>replyService</param-name>
		<param-value>com.lost.service.ReplyServiceImpl</param-value>
	</context-param>
	<context-param>
		<param-name>replyDAO</param-name>
		<param-value>com.lost.dao.ReplyDAOImpl</param-value>
	</context-param>
	

	<context-param>
		<param-name>qnaService</param-name>
		<param-value>com.lost.service.QnaServiceImpl</param-value>
	</context-param>
	<context-param>
		<param-name>qnaDAO</param-name>
		<param-value>com.lost.dao.QnaDAOImpl</param-value>
	</context-param>
	
	
	<context-param>
		<param-name>topService</param-name>
		<param-value>com.lost.service.TopServiceImpl</param-value>
	</context-param>
	<context-param>
		<param-name>topDAO</param-name>
		<param-value>com.lost.dao.TopDAOImpl</param-value>
	</context-param>
	
	
	
	<context-param>
		<param-name>noticeService</param-name>
		<param-value>com.lost.service.NoticeServiceImpl</param-value>
	</context-param>
	<context-param>
		<param-name>noticeDAO</param-name>
		<param-value>com.lost.dao.NoticeDAOImpl</param-value>
	</context-param>
	<context-param>
		<param-name>memberService</param-name>
		<param-value>com.lost.service.MemberServiceImpl</param-value>
	</context-param>
	<context-param>
		<param-name>memberDAO</param-name>
		<param-value>com.lost.dao.MemberDAOImpl</param-value>
	</context-param>
	
	<context-param>
		<param-name>menuService</param-name>
		<param-value>com.lost.service.MenuServiceImpl</param-value>
	</context-param>
	<context-param>
		<param-name>menuDAO</param-name>
		<param-value>com.lost.dao.MenuDAOImpl</param-value>
	</context-param>

	<context-param>
		<param-name>sqlSessionFactory</param-name>
		<param-value>com.lost.mybatis.OracleMyBatisSqlSessionFactory</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.lost.listener.InitListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>setCharacterEncodingFilter</filter-name>
		<filter-class>
			org.apache.catalina.filters.SetCharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>FrontServlet</servlet-name>
		<servlet-class>com.lost.servlet.dispatcher.FrontServlet</servlet-class>
		<init-param>
			<param-name>handlerMapper</param-name>
			<param-value>com.lost.servlet.dispatcher.HandlerMapper</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>















